{% load static %}

<head>
    <link rel="stylesheet" href="https://cdn.acwing.com/static/jquery-ui-dist/jquery-ui.min.css">
    <script src="https://cdn.acwing.com/static/jquery/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/plform.css' %}">
    <script src="{% static 'js/dist/plform.js' %}"></script>
</head>

<body style="margin: 0">
    <div id="plform_123">
        <h1 style="text-align:center">XMUCITY</h1>
    </div>
    <script>
        $(document).ready(function(){
            let plform = new Plform("plform_123");
        });
    </script>
</body>

